@model Cart;
@{
    var user = ViewContext.HttpContext.Session.Get<UserModel>("User");
}
<div class="cartFlex">
	@if (Model is not null)
	{
		<div class="cartHeader">Оформление заказа</div>
		@foreach (var item in Model.Items)
		{
			<div class="cartContainer">
				<div>Товар: @item.product.Model</div>
				<div>Количество: @item.Count</div>
				<div>Сумма: @item.Sum</div>
			</div>
		}
		<div>Товаров в корзине: @Model.AllItemsCount</div>
		<div>Всего на сумму: @Model.Sum</div>
		<div class="cartHeader">Введите ваши данные для оформления заказа</div>
		@if (user != null)
        {
			<form action="OrderSubmit" style="display: flex; flex-direction: column; justify-content: center;">
				<div>
					<label for="firstName">Имя</label>
					<input type="text" id="firstName" name="firstName" value="@user.FirstName" readonly>
					<span class="error" id="firstNameError"></span>
				</div>
				<div>
					<label for="lastName">Фамилия</label>
					<input type="text" id="lastName" name="lastName" value="@user.LastName" readonly>
					<span class="error" id="lastNameError"></span>
				</div>
				<div>
					<label for="middleName">Отчество</label>
					<input type="text" id="middleName" name="middleName" value="@user.MiddleName" readonly>
					<span class="error" id="middleNameError"></span>
				</div>
				<div>
					<label for="phone">Номер телефона</label>
					<input type="tel" id="phone" name="phone" value="@user.Phone" readonly>
					<span class="error" id="phoneError"></span>
				</div>
				<div>
					<label for="email">Email</label>
					<input type="email" id="email" name="email" value="@user.Email" readonly>
					<span class="error" id="emailError"></span>
				</div>
				<div>
					<label for="address">Адрес</label>
					<textarea id="address" name="address" required></textarea>
					<span class="error" id="addressError"></span>
				</div>
				<div>
					<label for="paymentMethod">Способ оплаты</label>
					<select id="paymentMethod" name="paymentMethod" required>
						<option value="">Выберите способ оплаты</option>
						<option value="card">Кредитная карта</option>
						<option value="cash">Наличные</option>
					</select>
					<span class="error" id="paymentMethodError"></span>
				</div>
				<div>
					<input type="submit" value="Оформить заказ">
				</div>
			</form>
			<script src="validation.js"></script>
		}
		else
		{
			<form action="OrderSubmit" style="display: flex; flex-direction: column; justify-content: center;">
				<div>
					<label for="firstName">Имя</label>
					<input type="text" id="firstName" name="firstName" required pattern="[^0-9]+" title="Поле не должно содержать цифры">
					<span class="error" id="firstNameError"></span>
				</div>
				<div>
					<label for="lastName">Фамилия</label>
					<input type="text" id="lastName" name="lastName" required pattern="[^0-9]+" title="Поле не должно содержать цифры">
					<span class="error" id="lastNameError"></span>
				</div>
				<div>
					<label for="middleName">Отчество</label>
					<input type="text" id="middleName" name="middleName" required pattern="[^0-9]+" title="Поле не должно содержать цифры">
					<span class="error" id="middleNameError"></span>
				</div>
				<div>
					<label for="phone">Номер телефона</label>
					<input type="tel" id="phone" name="phone" required pattern="\+?\d{11,12}" title="Введите номер в формате +123456789012">
					<span class="error" id="phoneError"></span>
				</div>
				<div>
					<label for="email">Email</label>
					<input type="email" id="email" name="email" required>
					<span class="error" id="emailError"></span>
				</div>
				<div>
					<label for="address">Адрес</label>
					<textarea id="address" name="address" required></textarea>
					<span class="error" id="addressError"></span>
				</div>
				<div>
					<label for="paymentMethod">Способ оплаты</label>
					<select id="paymentMethod" name="paymentMethod" required>
						<option value="">Выберите способ оплаты</option>
						<option value="card">Кредитная карта</option>
						<option value="cash">Наличные</option>
					</select>
					<span class="error" id="paymentMethodError"></span>
				</div>
				<div>
					<input type="submit" value="Оформить заказ">
				</div>
			</form>
			<script src="validation.js"></script>
		}
		
	}
</div>